.button {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 400.8px;
    height: 53px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
  }
  .sign-in-with {
    position: absolute;
    top: 15.6px;
    left: calc(50% - 87.6px);
    font-size: 22px;
    letter-spacing: 0.25px;
    line-height: 17px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 198px;
    height: 18px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .logo-icon {
    position: absolute;
    height: 71.15%;
    width: 10.63%;
    top: 15%;
    right: 90.37%;
    bottom: 13.85%;
    left: 4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .google-sign-in {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 675.2px;
    left: 3px;
    width: 399.8px;
    height: 52px;
  }
  .form-child,
  .rectangle {
    position: absolute;
    top: 643.5px;
    left: 36px;
    width: 333px;
    height: 3px;
  }
  .rectangle {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    top: 20.6px;
    left: 49px;
    border-radius: var(--br-xl) var(--br-9xs) var(--br-xl) var(--br-9xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 343px;
    height: 63.5px;
  }
  .username1 {
    position: absolute;
    top: 0;
    left: 38px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    width: 113.7px;
    height: 28.3px;
  }
  .username-1-icon {
    position: absolute;
    top: 35.2px;
    left: 0;
    width: 40px;
    height: 36.1px;
    object-fit: cover;
  }
  .rectangle1,
  .username {
    position: absolute;
    top: 42px;
    left: 14px;
    width: 392px;
    height: 84.1px;
  }
  .rectangle1 {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    top: 19.6px;
    left: 56px;
    border-radius: var(--br-xl) var(--br-9xs) var(--br-xl) var(--br-9xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 343px;
    height: 63.5px;
  }
  .phone-number {
    position: absolute;
    top: 0;
    left: 50px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    width: 143px;
    height: 30.3px;
  }
  .phone-2-icon {
    position: absolute;
    top: 32.3px;
    left: 0;
    width: 52px;
    height: 50.4px;
    object-fit: cover;
  }
  .phone,
  .rectangle2 {
    position: absolute;
    top: 144.4px;
    left: 7px;
    width: 399px;
    height: 83.1px;
  }
  .rectangle2 {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    top: 19.9px;
    left: 51px;
    border-radius: var(--br-xl) var(--br-9xs) var(--br-xl) var(--br-9xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 343px;
    height: 63.5px;
  }
  .email1 {
    position: absolute;
    top: 0;
    left: 9px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    width: 143px;
    height: 30.3px;
  }
  .email-2-icon {
    position: absolute;
    top: 34px;
    left: 0;
    width: 38px;
    height: 51px;
    object-fit: cover;
  }
  .email,
  .rectangle3 {
    position: absolute;
    top: 241px;
    left: 12px;
    width: 394px;
    height: 85px;
  }
  .rectangle3 {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    top: 19.5px;
    left: 56px;
    border-radius: var(--br-xl) var(--br-9xs) var(--br-xl) var(--br-9xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 343px;
    height: 63.5px;
  }
  .password1 {
    position: absolute;
    top: 0;
    left: 47px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    width: 115px;
    height: 28.3px;
  }
  .lock-1-icon {
    position: absolute;
    top: 32.2px;
    left: 0;
    width: 45px;
    height: 44.9px;
    object-fit: cover;
  }
  .password {
    position: absolute;
    top: 337.9px;
    left: 7px;
    width: 399px;
    height: 83px;
  }
  .confirm-password1 {
    position: absolute;
    top: 0;
    left: 47px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    width: 181px;
    height: 28px;
  }
  .confirm-password,
  .rectangle5 {
    position: absolute;
    top: 436px;
    left: 7px;
    width: 399px;
    height: 83px;
  }
  .rectangle5 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-black);
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    width: 406px;
    height: 66.9px;
  }
  .register {
    position: absolute;
    top: 19.7px;
    left: 132px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 122px;
    height: 29px;
  }
  .login-btn {
    position: absolute;
    top: 544.3px;
    left: 0;
    width: 406px;
    height: 66.9px;
    font-size: 18px;
    color: var(--color-white);
  }
  .register1 {
    position: absolute;
    top: 0;
    left: 132px;
    font-size: 29px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 170px;
    height: 27.7px;
  }
  .form,
  .heading {
    position: absolute;
    top: 206px;
    left: 495px;
    width: 406px;
    height: 727.2px;
  }
  .heading {
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 134px;
  }
  .aarogya,
  .about-us,
  .contact {
    position: absolute;
    display: inline-block;
  }
  .aarogya {
    top: 68px;
    left: 48.4px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-open-sans-hebrew);
    width: 347.6px;
    height: 64.8px;
  }
  .about-us,
  .contact {
    text-decoration: none;
    top: 97px;
    color: inherit;
  }
  .contact {
    left: 1319px;
    font-weight: 300;
    width: 92px;
    height: 32px;
  }
  .about-us {
    left: 1173px;
    width: 106px;
    height: 28px;
  }
  .about-us,
  .home1 {
    font-weight: 300;
  }
  .header,
  .home {
    position: absolute;
  }
  .home {
    text-decoration: none;
    top: 97px;
    left: 1066.4px;
    color: inherit;
    display: inline-block;
    width: 83.3px;
    height: 37px;
  }
  .header {
    top: 0;
    left: 0;
    width: 1440px;
    height: 134px;
    text-align: left;
    font-size: var(--font-size-xl);
    font-family: var(--font-montagu-slab);
  }
  .desktop-1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  