.button {
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 404.8px;
  height: 58.2px;
}
.sign-in-with {
  position: absolute;
  top: 16px;
  left: calc(50% - 99.6px);
  letter-spacing: 0.25px;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
  width: 198px;
  height: 18.5px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-icon {
  position: absolute;
  height: 50%;
  width: 5%;
  top: 25%;
  right: 91.75%;
  bottom: 25%;
  left: 3.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.google-sign-in {
  position: absolute;
  top: 453.8px;
  left: 6.5px;
  width: 399.8px;
  height: 53.2px;
  font-size: var(--font-size-lg);
  color: #0a3c62;
  font-family: var(--font-roboto);
}
.form-child {
  position: absolute;
  top: 422.5px;
  left: 36px;
  width: 333px;
  height: 3.1px;
}
.forgot-password,
.sign-up {
  position: absolute;
  top: 366px;
  left: 234px;
  font-size: var(--font-size-base);
  font-weight: 500;
  display: inline-block;
  width: 197.6px;
  height: 29px;
}
.sign-up {
  top: 384px;
  left: 324px;
  width: 89px;
  height: 21px;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 406px;
  height: 65.3px;
}
.username1 {
  position: absolute;
  top: 18.9px;
  left: 69px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  width: 113.7px;
  height: 29px;
}
.username-1-icon {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 40px;
  height: 37px;
  object-fit: cover;
}
.phone-number,
.username {
  position: absolute;
  top: 43px;
  left: 0;
  width: 406px;
  height: 65.3px;
}
.phone-number {
  top: 18px;
  left: 69px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  width: 143px;
  height: 31px;
}
.phone-2-icon {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 47px;
  height: 40px;
  object-fit: cover;
}
.password1,
.phone {
  position: absolute;
  top: 122px;
  left: 0;
  width: 406px;
  height: 65.3px;
}
.password1 {
  top: 20.9px;
  left: 69px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  width: 115px;
  height: 29px;
}
.lock-1-icon {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 45px;
  height: 46px;
  object-fit: cover;
}
.password,
.rectangle3 {
  position: absolute;
  top: 202px;
  left: 0;
  width: 406px;
  height: 65.3px;
}
.rectangle3 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  height: 68.5px;
}
.login {
  position: absolute;
  top: 19.8px;
  left: 166.5px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 73.1px;
  height: 30.4px;
}
.login-btn {
  position: absolute;
  top: 278px;
  left: 0;
  width: 406px;
  height: 68.5px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.login1 {
  top: 0;
  left: 152px;
  font-size: 25px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 100.1px;
  height: 28.4px;
}
.form,
.heading,
.login1 {
  position: absolute;
}
.form {
  top: 173px;
  left: 442px;
  width: 431.6px;
  height: 507px;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
}
.heading {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1280px;
  height: 134px;
}
.aarogya {
  position: absolute;
  top: 51.9px;
  left: 43px;
  display: inline-block;
  width: 309px;
  height: 64.8px;
}
.home1 {
  font-weight: 300;
}
.header,
.home {
  position: absolute;
}
.home {
  top: 97px;
  left: 963px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 74px;
  height: 37px;
  font-family: var(--font-montagu-slab);
}
.header {
  top: 0;
  left: 0;
  width: 1280px;
  height: 134px;
  font-size: 36px;
  font-family: var(--font-open-sans-hebrew);
}
.about-us,
.contact {
  position: absolute;
  top: 97px;
  left: 1049px;
  font-weight: 300;
  display: inline-block;
  width: 106px;
  height: 28px;
}
.contact {
  left: 1172px;
  width: 92px;
  height: 32px;
}
.dashboard-login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montagu-slab);
}
