<html style="user-select: auto;"><head style="user-select: auto;"></head><body style="user-select: auto;"><div style="user-select: auto;">
  <link href="/home.css" rel="stylesheet" style="user-select: auto;">
  <div class="home-container" style="user-select: auto;">
    <div data-modal="practices" class="home-modal" style="user-select: auto;">
      <div class="home-practices" style="user-select: auto;">
        <div class="home-heading" style="user-select: auto;">
          <span class="home-header" style="user-select: auto;">Our practices</span>
          <svg viewBox="0 0 1024 1024" data-close="practices" class="home-close" style="user-select: auto;">
            <path d="M225.835 286.165l225.835 225.835-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.835-225.835 225.835 225.835c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331l-225.835-225.835 225.835-225.835c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.835 225.835-225.835-225.835c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z" style="user-select: auto;"></path>
          <!-- Code injected by live-server -->
<script style="user-select: auto;">
    //   &lt;-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i &lt; sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href &amp;&amp; typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&amp;|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') &gt;= 0 ? '&amp;' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage &amp;&amp; !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
    // 
</script>
</svg>
        </div>
        <div class="home-grid" style="user-select: auto;">
          <div class="home-section" style="user-select: auto;">
            <div class="home-heading01" style="user-select: auto;">
              <span class="home-header01" style="user-select: auto;">Cardiology</span>
              <span class="home-caption" style="user-select: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </span>
            </div>
            <div class="read-more" style="user-select: auto;">
              <span class="home-text" style="user-select: auto;">Read more</span>
              <img alt="https://tse1.mm.bing.net/th?id=OIP.uJMG06Ax31Y0WMI9pBf2swHaFj&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=136&amp;h=102" src="/arrow-2.svg" class="home-image" style="user-select: auto;">
            </div>
          </div>
          <div class="home-section1" style="user-select: auto;">
            <div class="home-heading02" style="user-select: auto;">
              <span class="home-header02" style="user-select: auto;">Orthopedics</span>
              <span class="home-caption1" style="user-select: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </span>
            </div>
            <div class="read-more" style="user-select: auto;">
              <span class="home-text01" style="user-select: auto;">Read more</span>
              <img alt="image" src="/arrow-2.svg" class="home-image01" style="user-select: auto;">
            </div>
          </div>
          <div class="home-section2" style="user-select: auto;">
            <div class="home-heading03" style="user-select: auto;">
              <span class="home-header03" style="user-select: auto;">Ophtalmology</span>
              <span class="home-caption2" style="user-select: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </span>
            </div>
            <div class="read-more" style="user-select: auto;">
              <span class="home-text02" style="user-select: auto;">Read more</span>
              <img alt="image" src="/arrow-2.svg" class="home-image02" style="user-select: auto;">
            </div>
          </div>
          <div class="home-section3" style="user-select: auto;">
            <div class="home-heading04" style="user-select: auto;">
              <span class="home-header04" style="user-select: auto;">Pediatrics</span>
              <span class="home-caption3" style="user-select: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </span>
            </div>
            <div class="read-more" style="user-select: auto;">
              <span class="home-text03" style="user-select: auto;">Read more</span>
              <img alt="image" src="/arrow-2.svg" class="home-image03" style="user-select: auto;">
            </div>
          </div>
          <div class="home-section4" style="user-select: auto;">
            <div class="home-heading05" style="user-select: auto;">
              <span class="home-header05" style="user-select: auto;">Nutrition</span>
              <span class="home-caption4" style="user-select: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </span>
            </div>
            <div class="read-more" style="user-select: auto;">
              <span class="home-text04" style="user-select: auto;">Read more</span>
              <img alt="image" src="/arrow-2.svg" class="home-image04" style="user-select: auto;">
            </div>
          </div>
          <div class="home-section5" style="user-select: auto;">
            <div class="home-heading06" style="user-select: auto;">
              <span class="home-header06" style="user-select: auto;">General</span>
              <span class="home-caption5" style="user-select: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </span>
            </div>
            <div class="read-more" style="user-select: auto;">
              <span class="home-text05" style="user-select: auto;">Read more</span>
              <img alt="image" src="/arrow-2.svg" class="home-image05" style="user-select: auto;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="home-hero" style="user-select: auto;">
      <div class="home-container01" style="user-select: auto;">
        <h1 class="home-text06 Heading" style="user-select: auto;">
          <br style="user-select: auto;">
          <span style="user-select: auto;">Aarogya</span>
        </h1>
        <header data-thq="thq-navbar" class="home-navbar" style="user-select: auto;">
          <div class="home-container02" style="user-select: auto;"><div class="home-left" style="user-select: auto;"></div></div>
          <nav class="home-links" style="user-select: auto;">
            <a href="#features" class="home-link" style="user-select: auto;">Features</a>
            <a href="#how-it-works" class="home-link01" style="user-select: auto;">How it works</a>
            <span class="home-link02" style="user-select: auto;">Prices</span>
            <a href="#schedule" class="home-link03" style="user-select: auto;">Contact</a>
          </nav>
          <div data-thq="thq-navbar-btn-group" class="home-right" style="user-select: auto;"></div>
          <div data-thq="thq-burger-menu" class="home-burger-menu" style="user-select: auto;">
            <svg viewBox="0 0 1024 1024" class="home-icon1" style="user-select: auto;">
              <path d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" style="user-select: auto;"></path>
            <!-- Code injected by live-server -->
<script style="user-select: auto;">
    //   &lt;-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i &lt; sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href &amp;&amp; typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&amp;|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') &gt;= 0 ? '&amp;' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage &amp;&amp; !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
    // 
</script>
</svg>
          </div>
          <div data-thq="thq-mobile-menu" class="home-mobile-menu" style="user-select: auto;">
            <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav" style="user-select: auto;">
              <div class="home-container03" style="user-select: auto;">
                <img alt="image" src="/logo-1500h.png" class="home-image06" style="user-select: auto;">
                <div data-thq="thq-close-menu" class="home-menu-close" style="user-select: auto;">
                  <svg viewBox="0 0 1024 1024" class="home-icon3" style="user-select: auto;">
                    <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z" style="user-select: auto;"></path>
                  <!-- Code injected by live-server -->
<script style="user-select: auto;">
    //   &lt;-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i &lt; sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href &amp;&amp; typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&amp;|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') &gt;= 0 ? '&amp;' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage &amp;&amp; !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
    // 
</script>
</svg>
                </div>
              </div>
              <nav data-thq="thq-mobile-menu-nav-links" data-role="Nav" class="home-nav1" style="user-select: auto;">
                <span class="home-text09" style="user-select: auto;">Features</span>
                <span class="home-text10" style="user-select: auto;">How it works</span>
                <span class="home-text11" style="user-select: auto;">Prices</span>
                <span class="home-text12" style="user-select: auto;">Contact</span>
                <a href="#book" class="home-book button button-main" style="user-select: auto;">
                  <img alt="image" src="/calendar.svg" class="home-image07" style="user-select: auto;">
                  <span class="home-text13" style="user-select: auto;">Book an appointment</span>
                </a>
              </nav>
            </div>
          </div>
        </header>
      </div>
      <div class="home-main" style="user-select: auto;">
        <div class="home-content" style="user-select: auto;">
          <div class="home-heading07" style="user-select: auto;">
            <h1 class="home-header07" style="user-select: auto;">
              Experienced general practitioners who have an eye for your care
            </h1>
          </div>
          
        </div>
        <div class="home-image09" style="user-select: auto;">
          <a href="https://tse3.mm.bing.net/th?id=OIP.FoSQ1aWYBVXCTrlFefW6TwHaFP&amp;pid=Api&amp;P=0&amp;h=180" target="_blank" rel="noreferrer noopener" class="home-link04" style="user-select: auto;">
            <img alt="image" src="https://tse1.mm.bing.net/th?id=OIP.7vQneqb3bjcZnS_sL_jRegHaLG&amp;pid=Api&amp;P=0&amp;h=180" class="home-image10" style="user-select: auto;">
          </a>
        </div>
      </div>
      <div id="features" class="home-features" style="user-select: auto;">
        <div class="home-content1" style="user-select: auto;">
          <div class="features-section quick-links" style="user-select: auto;">
            <div class="features-heading" style="user-select: auto;">
              <h3 class="features-header" style="user-select: auto;"><span style="user-select: auto;">Virtual Assistant</span></h3>
              
            </div>
            <p class="features-text" style="user-select: auto;">
              <span style="user-select: auto;">
Helps to connect with doctors virtually.And take opinion for every problem.</span>
            </p>
            <div class="features-divider" style="user-select: auto;"></div>
          </div>
          <div class="features-section quick-links" style="user-select: auto;">
            <div class="features-heading" style="user-select: auto;">
              <h3 class="features-header" style="user-select: auto;"><span style="user-select: auto;">Virtual Clinic</span></h3>
              
            </div>
            <p class="features-text" style="user-select: auto;">
              <span style="user-select: auto;">
Helps to connect with clinic virtually.And get treated at your ease.</span>
            </p>
            <div class="features-divider" style="user-select: auto;"></div>
          </div>
          <div class="features-section quick-links" style="user-select: auto;">
            <div class="features-heading" style="user-select: auto;">
              <h3 class="features-header" style="user-select: auto;"><span style="user-select: auto;">Clinical results</span></h3>
              
            </div>
            <p class="features-text" style="user-select: auto;">
              <span style="user-select: auto;">Get the detailed report of your past and present health condition.</span>
            </p>
            <div class="features-divider" style="user-select: auto;"></div>
          </div>
        </div>
      </div>
      <div class="home-background" style="user-select: auto;"></div>
    </section>
    <section class="home-practices1" style="user-select: auto;">
      <div class="home-heading08" style="user-select: auto;">
        <h2 class="home-text15" style="user-select: auto;"></h2>
        <p class="home-text16" style="user-select: auto;">Services!</p>
      </div>
      <div class="home-content2" style="user-select: auto;">
        <div class="home-grid1" style="user-select: auto;">
          <a style="user-select: auto;">
            <div class="home-practice-wrapper" style="user-select: auto;">
              <div class="practice-practice" style="user-select: auto;">
                <div class="practice-heading" style="user-select: auto;">
                  <h3 class="practice-header" style="user-select: auto;"><span style="user-select: auto;">Cardiology</span></h3>
                  <p class="practice-caption" style="user-select: auto;">
                    <span style="user-select: auto;">Cardiology is a problem which deals with heart problem of people...</span>
                  </p>
                </div>
                <div class="read-more" style="user-select: auto;">
                  
                  
                </div>
              </div>
            </div>
          </a>
          <a style="user-select: auto;">
            <div class="home-practice-wrapper1" style="user-select: auto;">
              <div class="practice-practice" style="user-select: auto;">
                <div class="practice-heading" style="user-select: auto;">
                  <h3 class="practice-header" style="user-select: auto;"><span style="user-select: auto;">Orthopedics</span></h3>
                  <p class="practice-caption" style="user-select: auto;">
                    <span style="user-select: auto;">
                      orthopedics specializes in musculoskeletal disorders and
                      surgeries
                    </span>
                  </p>
                </div>
                <div class="read-more" style="user-select: auto;">
                  
                  
                </div>
              </div>
            </div>
          </a>
          <a style="user-select: auto;">
            <div class="home-practice-wrapper2" style="user-select: auto;">
              <div class="practice-practice" style="user-select: auto;">
                <div class="practice-heading" style="user-select: auto;">
                  <h3 class="practice-header" style="user-select: auto;"><span style="user-select: auto;">Ophtalmology</span></h3>
                  <p class="practice-caption" style="user-select: auto;">
                    <span style="user-select: auto;">ophthalmology addresses eye care and vision-related issues</span>
                  </p>
                </div>
                
              </div>
            </div>
          </a>
          <a style="user-select: auto;">
            <div class="home-practice-wrapper3" style="user-select: auto;">
              <div class="practice-practice" style="user-select: auto;">
                <div class="practice-heading" style="user-select: auto;">
                  <h3 class="practice-header" style="user-select: auto;"><span style="user-select: auto;">Pediatrics</span></h3>
                  <p class="practice-caption" style="user-select: auto;">
                    <span style="user-select: auto;">The problems which deals with small children are called pediatrics problem.</span>
                  </p>
                </div>
                
              </div>
            </div>
          </a>
          <a style="user-select: auto;">
            <div class="home-practice-wrapper4" style="user-select: auto;">
              <div class="practice-practice" style="user-select: auto;">
                <div class="practice-heading" style="user-select: auto;">
                  <h3 class="practice-header" style="user-select: auto;"><span style="user-select: auto;">Nutrition</span></h3>
                  <p class="practice-caption" style="user-select: auto;">
                    <span style="user-select: auto;">It deals with nutritional planning of the diet people consume in their day to day life</span>
                  </p>
                </div>
                
              </div>
            </div>
          </a>
          <a style="user-select: auto;">
            <div class="home-practice-wrapper5" style="user-select: auto;">
              <div class="practice-practice" style="user-select: auto;">
                <div class="practice-heading" style="user-select: auto;">
                  <h3 class="practice-header" style="user-select: auto;"><span style="user-select: auto;">General</span></h3>
                  <p class="practice-caption" style="user-select: auto;">
                    <span style="user-select: auto;">general medicine offers comprehensive medical care for various health concerns.</span>
                  </p>
                </div>
                
              </div>
            </div>
          </a>
        </div>
        
      </div>
    </section>
    <section id="how-it-works" class="home-why" style="user-select: auto;">
      <div class="home-heading09" style="user-select: auto;">
        <h2 class="home-header08" style="user-select: auto;">Why choose us</h2>
        <p class="home-header09" style="user-select: auto;">We provide you the most detailed and more clear diagonostic report of your past and present health status !!!</p>
      </div>
      <div class="home-content3" style="user-select: auto;">
        <div class="home-video" style="user-select: auto;">
          <video src="" poster="https://tse1.mm.bing.net/th?id=OIP.avxBDkQAX_O4iJPTt_skRAHaE8&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=170&amp;h=113" class="home-video1" style="user-select: auto;"></video>
          <div class="home-play" style="user-select: auto;">
            
          </div>
        </div>
        <div class="home-caption6" style="user-select: auto;">
          <h3 class="home-header10" style="user-select: auto;">we are at your service always , It feels great to serve society in this domain.</h3>
          
        </div>
      </div>
    </section>
    <section class="home-features1" style="user-select: auto;">
      <div class="home-section6" style="user-select: auto;">
        <div class="home-content4" style="user-select: auto;">
          <div class="home-header12" style="user-select: auto;">
            <h2 class="home-heading10" style="user-select: auto;">
              Dedicated doctors with the core mission to help.
            </h2>
          </div>
          <div class="read-more" style="user-select: auto;">
            <span class="home-text18" style="user-select: auto;">See our doctors</span>
            <img alt="image" src="/arrow-2.svg" class="home-image12" style="user-select: auto;">
          </div>
        </div>
        <img alt="image" src="https://tse1.mm.bing.net/th?id=OIP.mAUM3wvDeDHSfnGMdgngwgHaE8&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=143&amp;h=95" class="home-image13" style="user-select: auto;">
      </div>
      <div class="home-section7" style="user-select: auto;">
        <div class="home-content5" style="user-select: auto;">
          <div class="home-header13" style="user-select: auto;">
            <h2 class="home-heading11" style="user-select: auto;">
              Get access to specialty tests and breakthrough information.
            </h2>
          </div>
          <div class="read-more" style="user-select: auto;">
            <span class="home-text19" style="user-select: auto;">Find test</span>
            <img alt="image" src="/arrow-2.svg" class="home-image14" style="user-select: auto;">
          </div>
        </div>
        <img alt="image" src="https://tse1.mm.bing.net/th?id=OIP.40pm2r6LmdFy9EewoMyIZwHaEK&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=182&amp;h=102" class="home-image15" style="user-select: auto;">
      </div>
      <div class="home-section8" style="user-select: auto;">
        <div class="home-content6" style="user-select: auto;">
          <div class="home-header14" style="user-select: auto;">
            <h2 class="home-heading12" style="user-select: auto;">
              Find out how we can help you help you.
            </h2>
          </div>
          
        </div>
        <img alt="image" src="https://tse1.mm.bing.net/th?id=OIP.sRufQ_P_SgGVnOBPjYv7wgHaER&amp;pid=Api&amp;rs=1&amp;c=1&amp;qlt=95&amp;w=166&amp;h=95" class="home-image16" style="user-select: auto;">
      </div>
      <button class="home-book3 button button-main" style="user-select: auto;">
        <span style="user-select: auto;">Book a virtual appointment</span>
      </button>
    </section>
    <section id="schedule" class="home-schedule" style="user-select: auto;">
      <div class="home-content7" style="user-select: auto;">
        <div class="home-header15" style="user-select: auto;">
          <h2 class="home-heading13" style="user-select: auto;">
            Schedule an in person or virtual appointment today
          </h2>
        </div>
        <div class="home-types" style="user-select: auto;">
          <a href="#book" class="home-book-person button button-main button-white" style="user-select: auto;">
            
          </a>
          <button class="button button-main button-white home-book-person1" fdprocessedid="lmlmge" style="user-select: auto;">
            <span style="user-select: auto;">Book virtual appointment</span>
          </button>
        </div>
      </div>
    </section>
    
    <section id="book" class="home-book4" style="user-select: auto;">
      <div class="home-heading16" style="user-select: auto;">
        <h2 class="home-text43" style="user-select: auto;">Book an appointment</h2>
        <p class="home-text44" style="user-select: auto;">
          Get a opinion from doctor at your comfort level !!!
        </p>
      </div>
      <div class="home-form" style="user-select: auto;">
        <div class="home-types1" style="user-select: auto;">
          <div class="book-type" style="user-select: auto;">
            <span class="home-text45" style="user-select: auto;">In person appointment</span>
          </div>
          <div class="book-type" style="user-select: auto;">
            <span class="home-text46" style="user-select: auto;">Virtual appointment</span>
          </div>
        </div>
        <div class="home-inputs" style="user-select: auto;">
          <input type="text" placeholder="Name" autocomplete="name" class="input book-input" fdprocessedid="1inkof" style="user-select: auto;">
          <input type="email" placeholder="Email" autocomplete="email" class="input book-input" fdprocessedid="oe8zvl" style="user-select: auto;">
          <input type="tel" placeholder="Phone" autocomplete="tel" class="input book-input" fdprocessedid="vtibw" style="user-select: auto;">
          <div class="home-date" style="user-select: auto;">
            <input type="date" placeholder="Date" class="input book-input" style="user-select: auto;">
            <img alt="image" src="/calendar-2.svg" class="home-image17" style="user-select: auto;">
          </div>
          <input type="text" placeholder="Practice" class="input book-input" fdprocessedid="3gtw7k" style="user-select: auto;">
          <div class="home-lower" style="user-select: auto;">
            <div class="home-button" style="user-select: auto;">
              <button class="home-book5 button button-main" fdprocessedid="kzm08a" style="user-select: auto;">
                <span style="user-select: auto;">Book</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="home-download" style="user-select: auto;"></div>
    <span style="user-select: auto;">Thanks for visiting!!!</span>
    <div class="home-footer" style="user-select: auto;">
      <div class="home-left1" style="user-select: auto;">
        <div class="home-socials" style="user-select: auto;">
          <div class="social" style="user-select: auto;">
            <img alt="image" src="/insider.svg" class="home-image18" style="user-select: auto;">
          </div>
          <div class="social" style="user-select: auto;">
            <img alt="image" src="/instagram.svg" class="home-image19" style="user-select: auto;">
          </div>
          <div class="social" style="user-select: auto;">
            <img alt="image" src="/twitter.svg" class="home-image20" style="user-select: auto;">
          </div>
        </div>
        <div class="home-legal" style="user-select: auto;">
          <span class="home-copyright" style="user-select: auto;">
            © 2022 finbest. All Rights Reserved.
          </span>
          <span class="legal-link" style="user-select: auto;">Privacy Policy</span>
          <span class="legal-link" style="user-select: auto;">Terms of Use</span>
        </div>
      </div>
      <div class="home-right1" style="user-select: auto;">
        <div class="home-list" style="user-select: auto;">
          <span class="home-header16" style="user-select: auto;">Menu</span>
          <div class="home-links1" style="user-select: auto;">
            <span class="home-link05" style="user-select: auto;">Home</span>
            <span class="home-link06" style="user-select: auto;">About</span>
            <span class="home-link07" style="user-select: auto;">Services</span>
            <span class="home-link08" style="user-select: auto;">Blog</span>
            <span class="home-link09" style="user-select: auto;">Support</span>
          </div>
        </div>
        <div class="home-list1" style="user-select: auto;">
          <span class="home-header17" style="user-select: auto;">Resources</span>
          <div class="home-links2" style="user-select: auto;">
            <span class="home-link10" style="user-select: auto;">Test Results</span>
            <span class="home-link11" style="user-select: auto;">Patients</span>
            <span class="home-link12" style="user-select: auto;">Doctors</span>
            <span class="home-link13" style="user-select: auto;">Health</span>
          </div>
        </div>
        <div class="home-list2" style="user-select: auto;">
          <span class="home-header18" style="user-select: auto;">Contact</span>
          <div class="home-links3" style="user-select: auto;">
            <span class="home-link14" style="user-select: auto;">24 Street Name, City FI 01234, RO</span>
            <a href="mailto:contact@template.new?subject=Main" class="home-link15" style="user-select: auto;">
              contact@template.new
            </a>
            <a href="tel:(004) 234 - 5678" class="home-link16" style="user-select: auto;">
              (004) 234 - 5678
            </a>
          </div>
        </div>
      </div>
      <div class="home-legal1" style="user-select: auto;">
        <div class="home-row3" style="user-select: auto;">
          <span class="legal-link" style="user-select: auto;">Privacy Policy</span>
          <span class="legal-link" style="user-select: auto;">Terms of Use</span>
        </div>
        <span class="home-copyright5" style="user-select: auto;">
          © 2022 finbest. All Rights Reserved.
        </span>
      </div>
    </div>
    <div style="user-select: auto;">
      <div class="home-container05" style="user-select: auto;">
        <script style="user-select: auto;">
          const modalOpen = document.querySelectorAll('[data-open]');
          const modalClose = document.querySelectorAll('[data-close]');

          modalOpen.forEach(button => {
              button.addEventListener('click', event => {
                  const modal = document.querySelector(`[data-modal='${event.target.dataset.open}']`);
                  modal.style.display = 'flex';
              });
          });

          modalClose.forEach(button => {
              button.addEventListener('click', event => {
                  const modal = document.querySelector(`[data-modal='${event.target.dataset.close}']`);
                  modal.style.display = 'none';
              });
          });
        </script>
      </div>
    </div>
    <div style="user-select: auto;">
      <div class="home-container07" style="user-select: auto;">
        <script style="user-select: auto;">
          const dataLetters = document.querySelectorAll('[data-letter]');
          let activeLetters = [];
          const maxResults = 6;

          dataLetters.forEach(letter => {
            letter.addEventListener('click', function() {
              if (this.classList.contains('letter-active')) {
                this.classList.remove('letter-active');
                activeLetters = activeLetters.filter(a => a !== this.dataset.letter);
              } else {
                this.classList.add('letter-active');
                activeLetters.push(this.dataset.letter);
              }
              if (activeLetters.length == 0) {
                document.querySelector('[data-teleport='results']').style.display = 'none';
                return;
              }
              showResults();
            });
          });

          const showResults = () => {
            fetch('https://raw.githubusercontent.com/Shivanshu-Gupta/web-scrapers/master/medical_ner/medicinenet-diseases.json')
              .then(response => response.json())
              .then(data => {
                const filteredData = data.filter(item => {
                  const firstLetter = item.disease.charAt(0).toLowerCase();
                  if (activeLetters.includes(firstLetter)) {
                    return true;
                  }
                  return false;
                });

                document.querySelector('[data-teleport='results']').style.display = 'flex';
                const resultsContainer = document.querySelector('[data-results='letters']');
                resultsContainer.innerHTML = '';

                let counter = 0;
                const diseaseGroups = {};
                const totalActiveLetters = activeLetters.length;

                filteredData.forEach(disease => {
                  const firstLetter = disease.disease[0].toLowerCase();
                  if (diseaseGr)</script></div></div></div></div></body></html>