<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="report.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#">Aarogya</a>
        </div>
        <div class="navbar-middle">
            <a href="#">Reports</a>
        </div>
        <div class="navbar-right">
            <div class="profile-dropdown">
                <button class="profile-button">Profile</button>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="report-page">
        <div class="report-list">
            <!-- Individual patient report items will be added here using JavaScript -->
        </div>
    </div>
    
    <script src="report.js"></script>
</body>
</html>
